import React, { memo } from 'react'
import styles from './{{componentName}}.scss'


interface I{{componentName}} {

}


export const {{componentName}}: React.SFC<I{{componentName}}> = memo((props) => {
    //console.log('{{componentName}}',props)
    //======================data======================
    //======================function======================
    //======================effect======================
    //======================render======================
    return (
        <div>
            {{componentName}}
        </div>
    )
})



